<section class="columns is-centered">
<div class="column bulma-overlay-mixin" id="homepage">
      <div class="box has-text-centered">
        <h1 class="title">Welcome to Tech Blog!</h1>
        <h2 class="subtitle">An easy application to publish articles, blog posts, and your thoughts and opinions</h2>
        <p>CMS-style blog site similar to a Wordpress site, where developers can publish their blog posts and comment on other developers’ posts as well.</p>
        <p>To View, Edit, or Add to Your Blogs: Click "Profile" in the Navigation Bar</p>
      </div>
    </div>
</section>
<div class="row" id="all-content">
<!-- Loop over each object in the content array -->
{{#each blogs as |blog| }}
  <div class="col-12">

    <div class="card my-3">
      <div class="card-header">
        <div class="row">
          <h5 class="mb-2 col-6" id="comment" data-commentId="{{blog.id}}">
            {{blog.title}}
          </h5>
          <div class="col-6">
            <p class="float-right fs-6">
              Created by {{blog.user.name}} on {{blog.date_created}}
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>
          {{blog.content}}
        </p>
      </div>
    </div>
  </div>
{{/each}}
</div>


