<div class="columns project-list">
  {{#each blogs as |blog| }}
    <div class="card column is-one-fifth column-gap is-vcentered" data-card-id="{{blog.id}}">
      <div class="card-image" id="recipe-card">
         <figure class="image is-3by3" data-card-id="{{blog.id}}">
          <img src={{{get_icon}}} data-card-id="{{blog.id}}">
          </figure>
        <header class="card-header" data-card-id="{{blog.id}}">
          <p class="card-header-title" id="recipe-name" data-card-id="{{blog.id}}">
            {{blog.title}}
          </p>
        </header> 
        <footer class="card-footer">
          <a href="/api/update-recipes/{{blog.id}}" class="edit-btn card-footer-item" data-edit-id="{{blog.id}}">
            Edit
          </a>
          <a class="card-footer-item delete-btn" data-id="{{blog.id}}">
            Delete
          </a>
        </footer>
      </div>
    </div>
  {{/each}}
</div>

    
<footer>
       <div class="content has-text-centered">
         <a href="/add-recipes">
         <button class="button is-primary is-light" id="add-recipe">Add Post</button>
        </a>
        {{!-- <p class="has-text-white">fruit icons PNG Designed By lancarrejekiamin from <a href="https://pngtree.com"> Pngtree.com</a></p> --}}
      </div>
    </footer>

<script src="./js/cardHandler.js"></script>
