<div class="px-4 is-flex-direction-column columns project-list">
  {{#each blogs as |blog| }}
    <div class="card has-background-grey-light column column-gap is-vcentered" data-card-id="{{blog.id}}">
      <div class="" id="recipe-card">
        <div class="is-flex-direction-row">
          <p class="py-4 has-background-grey-light" id="recipe-name" data-card-id="{{blog.id}}">{{blog.title}}</p>
          <p>Posted on {{blog.date_created}}</p>
        </div>
        <p class="py-4">{{blog.content}}</p> 
        <footer class="card-footer">
          <a href="/api/update-recipes/{{blog.id}}" class="edit-btn card-footer-item" data-edit-id="{{blog.id}}">
            Edit
          </a>
          <a class="card-footer-item delete-btn" data-id="{{blog.id}}">
            Delete
          </a>
        </footer>
      </div>
    </div>
  {{/each}}
</div>

    
<footer>
       <div class="content has-text-centered">
         <a href="/add-recipes">
         <button class="button is-primary is-light" id="add-recipe">Add Post</button>
        </a>
        {{!-- <p class="has-text-white">fruit icons PNG Designed By lancarrejekiamin from <a href="https://pngtree.com"> Pngtree.com</a></p> --}}
      </div>
    </footer>

<script src="./js/cardHandler.js"></script>
