  {{#each blogs as |blog| }}
    <div class="card column column-gap is-vcentered" data-card-id="{{blog.id}}">
      <div class="" id="recipe-card">
        <div class="level">
          <p class="py-4 has-text-weight-bold" id="recipe-name" data-card-id="{{blog.id}}">{{blog.title}}</p>
          <p>Posted on {{blog.date_created}}</p>
        </div>
        <p class="py-4">{{blog.content}}</p> 
        <footer class="card-footer">
          <a href="/api/update-recipes/{{blog.id}}" class="edit-btn card-footer-item" data-edit-id="{{blog.id}}">
            Edit
          </a>
          <a class="card-footer-item delete-btn" data-id="{{blog.id}}">
            Delete
          </a>
        </footer>
      </div>
    </div>
  {{/each}}
</div>

<script src="./js/cardHandler.js"></script>
{{!-- <script src="./../js/viewRecipe.js"></script> --}}